body{
    background-color: rgb(162, 142, 142);
    border: 2px solid black;
    padding: 1444;
}

header{
    background-color: aqua;
}

@media screen and (max-width: 768px) {  /* @media para pantalla de escritorio*/ 

    body{
        background-color: aqua;
    }
    
}

@media screen and (max-width: 520px) {/* @media para pantalla de table*/ 

    body{
        background-color: brown;
    }
    
}
@media screen and (max-width: 300px) {/* @media para pantalla de table*/ 

    body{
        background-color: brown;
    }
    
}