body{
    background-color: rgb(138, 218, 218);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: rgb(208, 120, 19);
}
h2{
    color: rgb(202, 198, 198);
}
h3{
    color: blueviolet;
}
h4{
    color: rgb(187, 234, 17);
}
h5{
    color: rgb(102, 0, 255);
}

#subtitulo1{
    background-color: rgb(211, 14, 194);
}
.subtitulo2{
    background-color: black;
}
.subtitulo3{
    background-color: rgb(238, 139, 8);
    color: rgb(226, 43, 43);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.subtitulo4{
    background-color: brown;
}
.subtitulo5{
    background-color: blue;
}